<div class=" " ng-controller="suppliersController">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="margin-left:0px">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Supplier
                <small>Control panel</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Services</li>
            </ol>
        </section>

        <!-- 00000000000000000000     main body start   00000000000000000000 -->
        <!-- Main content -->
        <section class="content">
            <div class="box box-primary">

            </div>
            <div class="row">


                <div class="col-md-5">
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h4 class="box-title">Supplier Name Listing</h4>
                        </div>
                        <div class="box-body">
                            <!-- the events -->
                            <!-- the table  eventsstart 0000000    0000000000 -->
                            <table class="table table-bordered">
                                <tr>
                                    <th style="width: 10px">Sr.No</th>
                                    <th>Name</th>
                                    <th>Contact No.</th>
                                    <th>City</th>
                                    <th style="width: 20px">Update</th>
                                    <th style="width: 20px">Delete</th>
                                </tr>
                                <tbody>
                                    <tr ng-repeat="data in getSuppliers" ng-hide="data.Status==false">
                                        <td>{{$index + 1}}</td>
                                        <th>{{data.Name}}</th>
                                        <th>{{data.ContactNumber}}</th>
                                        <th>{{data.City}}</th>
                                        <th>
                                            <a ng-click="editSupplier(id=data.Id)" class="btn btn-info btn-sm" style="padding:0px"><i class="glyphicon glyphicon-edit"></i></a>
                                        </th>
                                        <th>
                                            <a ng-click="deleteSupplier(id=data.Id)" class="btn btn-danger btn-sm" style="padding:0px"><i class="glyphicon glyphicon-trash"></i></a>
                                        </th>
                                    </tr>
                                    <tr class="bg-info" ng-show="!getSuppliers">
                                        <td colspan="7">Loading.....</td>
                                    </tr>
                                </tbody>
                                <tr>
                                    <td colspan="6" class="bg-aqua">Record Status</td>
                                </tr>

                            </table>
                            <!--table coding end----->
                        </div><!-- /.box-body -->
                    </div><!-- /. box -->

                </div><!-- /.col -->


                <div class="col-md-5">
                    <div class="box box-primary">
                        <div class="box box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Suppliers Details</h3>
                            </div>
                            <form class="form-horizontal" name="signup1" role="form">
                                <div class="box-body">

                                    <div class="form-group" style="display:none">
                                        <label for="inputEmail3" class="col-sm-4 control-label">ID:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="id" id="inputEmail3" placeholder="" disabled>
                                        </div>
                                    </div>

                                    <!--name validation start-->
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-4 control-label">Name:</label>

                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="name" name="Name" id="inputEmail3" ng-pattern="/^[a-zA-Z\s]*$/" value="" placeholder="" required>
                                        </div>
                                        <!-- Error Defination -->

                                        <div class="error-container" style="margin-bottom: 5px; margin-left:170px;" ng-show="signup1.Name.$dirty && signup1.Name.$invalid">
                                            <small class="error" ng-show="signup1.Name.$error.required">
                                                <b>please enter text</b>
                                            </small>
                                            <small class="error" ng-show="signup1.Name.$error.pattern">
                                                <b>please enter text</b>
                                            </small>
                                        </div>
                                        <!-- Error Defination End -->
                                    </div>
                                    <!--name validation end-->

                                    <!--<div class="form-group">
                                        <label for="inputEmail3" class="col-sm-4 control-label">Name:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputEmail3" ng-model="name" placeholder="">
                                        </div>
                                    </div>-->

                                    <div class="form-group" style="display:none">
                                        <label for="inputEmail3" class="col-sm-4 control-label">city:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputEmail3" ng-model="city" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-4 control-label">City:</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" ng-model="city">
                                                <option value="">
                                                    Select City
                                                </option>
                                                <option value="{{city.City_ID}}" ng-repeat="city in getCity" ng-hide="city.Status==false">
                                                    {{city.City}}
                                                    <!--{{city.City_ID}}-->
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- Form For contact number Input max 12 max 10 value Start -->
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-4 control-label">Contact No:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputPassword3" ng-pattern="/^[0-9\s]*$/" ng-model="contactNo" maxlength="12" minlength="10" name="max" value="" placeholder="" required>
                                        </div>
                                        <!-- Error Defination -->

                                        <div class="error-container" style="margin-bottom: 5px; margin-left:170px;" ng-show="signup1.max.$dirty && signup1.max.$invalid">
                                            <small class="error" ng-show="signup1.max.$error.required">
                                                <b>please enter contact number</b>
                                            </small>
                                            <small class="error" ng-show="signup1.max.$error.pattern">
                                                <b>please enter valid contact number</b>
                                            </small>
                                            <small class="error" ng-show="signup1.max.$error.minlength">
                                                <b>please enter min 10 number</b>
                                            </small>

                                        </div>
                                        <!-- Error Defination End -->

                                    </div>
                                    <!-- Form For contact number Input max 12 max 10 value end -->

                                    <!--<div class="form-group">
                                        <label for="inputPassword3" class="col-sm-4 control-label">Contact No:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputPassword3" ng-model="contactNo" placeholder="">
                                        </div>
                                    </div>-->

                                    <!-- Form For contact number Input max 12 max 10 value Start -->
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-4 control-label">Contact No 2:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputPassword3" ng-pattern="/^[0-9\s]*$/" ng-model="contactNo2" maxlength="12" minlength="10" name="con2" value="" placeholder="" required>
                                        </div>
                                        <!-- Error Defination -->

                                        <div class="error-container" style="margin-bottom: 5px; margin-left:170px;" ng-show="signup1.con2.$dirty && signup1.con2.$invalid">
                                            <small class="error" ng-show="signup1.con2.$error.required">
                                                <b>please enter contact number</b>
                                            </small>
                                            <small class="error" ng-show="signup1.con2.$error.pattern">
                                                <b>please enter valid contact number</b>
                                            </small>
                                            <small class="error" ng-show="signup1.con2.$error.minlength">
                                                <b>please enter min 10 numbers</b>
                                            </small>
                                        </div>
                                        <!-- Error Defination End -->
                                    </div>
                                    <!-- Form For contact number Input max 12 max 10 value ends -->

                                    <!--email validation start-->
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-4 control-label">Email-id:</label>
                                        <div class="col-sm-8">
                                            <input type="email" class="form-control" id="inputPassword3" ng-model="emailId" ng-pattern="/^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,15})$/" name="email1" value="" placeholder="" required>
                                        </div>
                                        <!-- Error Defination -->
                                        <div class="error-container" style="margin-bottom: 5px; margin-left:170px;" ng-show="signup1.email1.$dirty && signup1.email1.$invalid">
                                            <small class="error" ng-show="signup1.email1.$error.required">
                                                <b>please enter email</b>
                                            </small>
                                            <small class="error" ng-show="signup1.email1.$error.pattern">
                                                <b>please enter valid email</b>
                                            </small>
                                            <small class="error" ng-show="signup1.email1.$error.email"></small>
                                        </div>
                                        <!-- Error Defination End -->
                                    </div>
                                    <!--email validation ends-->

                                    <!--email 2 validation start-->
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-4 control-label">2nd Email-id:</label>
                                        <div class="col-sm-8">
                                            <input type="email" class="form-control" id="inputPassword3" ng-model="emailId2" ng-pattern="/^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,15})$/" name="emailId2" value="" placeholder="" required>
                                        </div>
                                        <!-- Error Defination -->
                                        <div class="error-container" style="margin-bottom: 5px; margin-left:170px;" ng-show="signup1.emailId2.$dirty && signup1.emailId2.$invalid">
                                            <small class="error" ng-show="signup1.emailId2.$error.required">
                                                <b>please enter email</b>
                                            </small>
                                            <small class="error" ng-show="signup1.emailId2.$error.pattern">
                                                <b>please enter valid email</b>
                                            </small>
                                            <small class="error" ng-show="signup1.emailId2.$error.email"></small>
                                        </div>
                                        <!-- Error Defination End -->
                                    </div>
                                    <!--email 2 validation ends-->
                                    
                                    <!--VAT No: validation start-->
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-4 control-label">VAT No:</label>

                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="vatNo" name="vatNo" id="inputPassword3" value="" placeholder="" required>
                                        </div>
                                        <!-- Error Defination -->

                                        <div class="error-container" style="margin-bottom: 5px; margin-left:170px;" ng-show="signup1.vatNo.$dirty && signup1.vatNo.$invalid">
                                            <small class="error" ng-show="signup1.vatNo.$error.required">
                                                <b>please enter text</b>
                                            </small>
                                            
                                        </div>
                                        <!-- Error Defination End -->
                                    </div>
                                    <!--VAT No: validation end-->

                                    <!--TIN No: validation start-->
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-4 control-label">TIN No:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="tinNo" name="tinNo" id="inputPassword3" value="" placeholder="" required>
                                        </div>
                                        <!-- Error Defination -->

                                        <div class="error-container" style="margin-bottom: 5px; margin-left:170px;" ng-show="signup1.tinNo.$dirty && signup1.tinNo.$invalid">
                                            <small class="error" ng-show="signup1.tinNo.$error.required">
                                                <b>please enter text</b>
                                            </small>

                                        </div>
                                        <!-- Error Defination End -->
                                    </div>
                                    <!--TIN No: validation end-->

                                    <!--Street validation start-->
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-4 control-label">Street:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="street" name="street" id="inputPassword3" value="" placeholder="" required>
                                        </div>
                                        <!-- Error Defination -->

                                        <div class="error-container" style="margin-bottom: 5px; margin-left:170px;" ng-show="signup1.street.$dirty && signup1.street.$invalid">
                                            <small class="error" ng-show="signup1.street.$error.required">
                                                <b>please enter text</b>
                                            </small>

                                        </div>
                                        <!-- Error Defination End -->
                                    </div>
                                    <!--Street validation end-->

                                    <!--Area validation start-->
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-4 control-label">Area:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="area" name="area" id="inputPassword3" value="" placeholder="" required>
                                        </div>
                                        <!-- Error Defination -->

                                        <div class="error-container" style="margin-bottom: 5px; margin-left:170px;" ng-show="signup1.area.$dirty && signup1.area.$invalid">
                                            <small class="error" ng-show="signup1.area.$error.required">
                                                <b>please enter text</b>
                                            </small>

                                        </div>
                                        <!-- Error Defination End -->
                                    </div>
                                    <!--Area validation end-->

                                    <!--Pincode validation Start -->
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-4 control-label">Pincode:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputPassword3" ng-model="pincode" ng-pattern="/^[0-9\s]*$/" maxlength="6" minlength="6" name="pincode" value="" placeholder="" required>
                                        </div>
                                        <!-- Error Defination -->

                                        <div class="error-container" style="margin-bottom: 5px; margin-left:170px;" ng-show="signup1.pincode.$dirty && signup1.pincode.$invalid">
                                            <small class="error" ng-show="signup1.pincode.$error.required">
                                                <b>please enter numeric</b>
                                            </small>
                                            <small class="error" ng-show="signup1.pincode.$error.pattern">
                                                <b>please enter numeric</b>
                                            </small>
                                            <small class="error" ng-show="signup1.pincode.$error.minlength">
                                                <b>please enter 6 digits</b>
                                            </small>
                                        </div>
                                        <!-- Error Defination End -->
                                    </div>
                                    <!-- Pincode validation end -->

                                    <!--Note validation start-->
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-4 control-label">Note:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="note" name="note" id="inputPassword3" value="" placeholder="" required>
                                        </div>
                                        <!-- Error Defination -->

                                        <div class="error-container" style="margin-bottom: 5px; margin-left:170px;" ng-show="signup1.note.$dirty && signup1.note.$invalid">
                                            <small class="error" ng-show="signup1.note.$error.required">
                                                <b>please enter text</b>
                                            </small>

                                        </div>
                                        <!-- Error Defination End -->
                                    </div>
                                    <!--Note validation end-->

                                </div><!-- /.box-body -->
                                <div class="box-footer">
                                    <a class="btn btn-success col-sm-8" ng-show="btnsave" ng-click="save()">Save</a>
                                    <a class="btn btn-info col-sm-8" ng-show="btnupdate" ng-click="update()">Update</a>
                                    <a class="btn btn-danger pull-right" ng-click="cancelAndNew()">Cancel</a>
                                </div><!-- /.box-footer -->
                            </form>
                        </div>
                    </div><!-- /. box -->
                </div><!-- /.col -->


                <div class="col-md-2">
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <form class="form-horizontal">
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary col-md-12" ng-click="cancelAndNew()">New</button>
                                </div>
                            </form>
                            <div class="box-body">
                                <!-- the events -->

                            </div><!-- /.box-body -->
                        </div><!-- /. box -->

                    </div><!-- /.col -->
                </div><!-- /.row -->
        </section><!-- /.content -->
        <!-- *********************************************************** -->
    </div><!-- /.content-wrapper -->
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
            <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- Home tab content -->
            <div class="tab-pane" id="control-sidebar-home-tab">
                <h3 class="control-sidebar-heading">Recent Activity</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript::;">
                            <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                                <p>Will be 23 on April 24th</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript::;">
                            <i class="menu-icon fa fa-user bg-yellow"></i>
                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>
                                <p>New phone +1(800)555-1234</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript::;">
                            <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>
                                <p>nora@example.com</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript::;">
                            <i class="menu-icon fa fa-file-code-o bg-green"></i>
                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>
                                <p>Execution time 5 seconds</p>
                            </div>
                        </a>
                    </li>
                </ul><!-- /.control-sidebar-menu -->
                <h3 class="control-sidebar-heading">Tasks Progress</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript::;">
                            <h4 class="control-sidebar-subheading">
                                Custom Template Design
                                <span class="label label-danger pull-right">70%</span>
                            </h4>
                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript::;">
                            <h4 class="control-sidebar-subheading">
                                Update Resume
                                <span class="label label-success pull-right">95%</span>
                            </h4>
                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript::;">
                            <h4 class="control-sidebar-subheading">
                                Laravel Integration
                                <span class="label label-warning pull-right">50%</span>
                            </h4>
                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript::;">
                            <h4 class="control-sidebar-subheading">
                                Back End Framework
                                <span class="label label-primary pull-right">68%</span>
                            </h4>
                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                            </div>
                        </a>
                    </li>
                </ul><!-- /.control-sidebar-menu -->
            </div><!-- /.tab-pane -->
            <!-- Stats tab content -->
            <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div><!-- /.tab-pane -->
            <!-- Settings tab content -->
            <div class="tab-pane" id="control-sidebar-settings-tab">
                <form method="post">
                    <h3 class="control-sidebar-heading">General Settings</h3>
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Report panel usage
                            <input type="checkbox" class="pull-right" checked>
                        </label>
                        <p>
                            Some information about this general settings option
                        </p>
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Allow mail redirect
                            <input type="checkbox" class="pull-right" checked>
                        </label>
                        <p>
                            Other sets of options are available
                        </p>
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Expose author name in posts
                            <input type="checkbox" class="pull-right" checked>
                        </label>
                        <p>
                            Allow the user to show his name in blog posts
                        </p>
                    </div><!-- /.form-group -->
                    <h3 class="control-sidebar-heading">Chat Settings</h3>
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Show me as online
                            <input type="checkbox" class="pull-right" checked>
                        </label>
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Turn off notifications
                            <input type="checkbox" class="pull-right">
                        </label>
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Delete chat history
                            <a href="javascript::;" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                        </label>
                    </div><!-- /.form-group -->
                </form>
            </div><!-- /.tab-pane -->
        </div>
    </aside><!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div><!-- ./wrapper -->
