
<div class=" " ng-controller="settingsItemController">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="margin-left:0px">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Print Settings
                <small>Control panel</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Services</li>
            </ol>
        </section>

        <!-- 00000000000000000000     main body start   00000000000000000000 -->
        <!-- Main content -->
        <section class="content">
            <div class="box box-primary">

            </div>
            <div class="row">

                <!--panel 1-->
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Show Fields</h3>

                            </div>
                            <form class="form-horizontal" name="signup1" role="form">
                                <div class="box-body">



                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-4 control-label">Paper Size:</label>
                                        <div class="col-sm-4">
                                            <select class="form-control" ng-model="unit">
                                                <option value="">A5</option>
                                                <option>A4</option>
                                                <option>Thermal Receipt</option>
                                            </select>
                                        </div>
                                        <div class="checkbox col-sm-4">
                                            <h4>
                                                <label>
                                                    <input type="checkbox">
                                                    Used As Default Paper Size
                                                </label>
                                            </h4>
                                        </div>

                                    </div>


                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-4 control-label">Invoice Type:</label>
                                        <div class="col-sm-4">
                                            <select class="form-control" ng-model="unit">
                                                <option value="">Default</option>
                                                <option>Default without header</option>
                                            </select>
                                        </div>
                                        <div class="checkbox col-sm-4">
                                            <h4>
                                                <label>
                                                    <input type="checkbox">
                                                    Used As Default Invoice Type
                                                </label>
                                            </h4>
                                        </div>

                                    </div>

                                


                                </div><!-- /.box-body -->
                            </form>
                        </div>
                    </div><!-- /. box -->
                </div><!-- /.col -->

                <!--panel 2-->
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title center">TAX Invoice</h3>

                            </div>
                            <form class="form-horizontal" name="signup1" role="form">
                                <div class="box-body">

                                    <div class="form-group">
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="name" name="Name" id="inputEmail3" ng-pattern="/^[a-zA-Z\s]*$/" value="" placeholder="" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="name" name="Name" id="inputEmail3" ng-pattern="/^[a-zA-Z\s]*$/" value="" placeholder="" required>
                                        </div>
                                    </div>



                                </div><!-- /.box-body -->
                            </form>
                        </div>
                    </div><!-- /. box -->
                </div><!-- /.col -->
            </div>

            <!--panel 3-->
            <div class="col-md-7">
                <div class="box box-primary">
                    <div class="box box-solid">
                        <form class="form-horizontal" name="signup1" role="form">
                            <div class="box-body">

                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label">M/s.</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="name" name="Name" id="inputEmail3">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label">Mob:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="name" name="Name" id="inputEmail3">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label">City:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="name" name="Name" id="inputEmail3">
                                    </div>
                                </div>




                            </div><!-- /.box-body -->
                        </form>
                    </div>
                </div><!-- /. box -->
            </div><!-- /.col -->

            <!--panel 4-->
            <div class="col-md-5">
                <div class="box box-primary">
                    <div class="box box-solid">
                        <form class="form-horizontal" name="signup1" role="form">
                            <div class="box-body">

                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label">Invoice No:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="name" name="Name" id="inputEmail3">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label">Date:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="name" name="Name" id="inputEmail3">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label">P. Order:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="name" name="Name" id="inputEmail3">
                                    </div>
                                </div>




                            </div><!-- /.box-body -->
                        </form>
                    </div>
                </div><!-- /. box -->
            </div><!-- /.col -->

            <!--panel 5-->
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-body">
                        <!-- the events -->
                        <!-- the table  eventsstart 0000000    0000000000 -->
                        <table class="table table-bordered">
                            <tr>
                                <th style="width: 10px">Sr.No</th>
                                <th>Particulars</th>
                                <th>Rate</th>
                                <th>Quantity</th>
                                <th>Ammount(Rs.)</th>
                            </tr>
                            <tbody>
                                <tr ng-repeat="data in getCategories" ng-hide="data.Status==false">

                                    <td>{{$index + 1}}</td>
                                    <td>{{data.Name}}</td>
                                    <td>{{data.Description}}</td>

                                </tr>
                                <tr class="bg-info" ng-show="!getCategories">
                                    <td colspan="5">Loading.....</td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="bg-aqua">Record Status {{x}}</td>
                                </tr>
                            </tbody>


                        </table>
                        <!--table coding end----->
                    </div><!-- /.box-body -->
                </div><!-- /. box -->

            </div><!-- /.col -->

            <!--panel 6-->
            <div class="col-md-7">
                <div class="box box-primary">
                    <div class="box box-solid">
                        <form class="form-horizontal" name="signup1" role="form">
                            <div class="box-body">

                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label">Thank you. Visit again!</label>
                                </div>

                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label">Ammount in Words:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="name" name="Name" id="inputEmail3">
                                    </div>
                                </div>

                              
                            </div><!-- /.box-body -->
                        </form>
                    </div>
                </div><!-- /. box -->
            </div><!-- /.col -->

            <!--panel 7-->
            <div class="col-md-5">
                <div class="box box-primary">
                    <div class="box box-solid">
                        <form class="form-horizontal" name="signup1" role="form">
                            <div class="box-body">

                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label">Discount:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="name" name="Name" id="inputEmail3">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label">Shipping Cost:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="name" name="Name" id="inputEmail3">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label">Tax:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="name" name="Name" id="inputEmail3">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label">Net Ammount:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="name" name="Name" id="inputEmail3">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label">Paid:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="name" name="Name" id="inputEmail3">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label">Remaining:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="name" name="Name" id="inputEmail3">
                                    </div>
                                </div>




                            </div><!-- /.box-body -->
                        </form>
                    </div>
                </div><!-- /. box -->
            </div><!-- /.col -->

            <!--panel 8-->
            <div class="col-md-7">
                <div class="box box-primary">
                    <div class="box box-solid">
                        <form class="form-horizontal" name="signup1" role="form">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-10 control-label">I/We hereby certify that my/our registration certificate under the Maharashtra Value Added Tax Act.</label>
                                </div>
                            </div><!-- /.box-body -->
                        </form>
                    </div>
                </div><!-- /. box -->
            </div><!-- /.col -->


            <!--panel 9-->
            <div class="col-md-5">
                <div class="box box-primary">
                    <div class="box box-solid">
                        <form class="form-horizontal" name="signup1" role="form">
                            <div class="box-body">

                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label">For</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="name" name="Name" id="inputEmail3">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label">Proprietor</label>
                                  
                                </div>


                            </div><!-- /.box-body -->
                        </form>
                    </div>
                </div><!-- /. box -->
            </div><!-- /.col -->
    </div>
    </section><!-- /.content -->
    <!-- *********************************************************** -->
</div><!-- /.content-wrapper -->
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
        <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Home tab content -->
        <div class="tab-pane" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Recent Activity</h3>
            <ul class="control-sidebar-menu">
                <li>
                    <a href="javascript::;">
                        <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                            <p>Will be 23 on April 24th</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript::;">
                        <i class="menu-icon fa fa-user bg-yellow"></i>
                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>
                            <p>New phone +1(800)555-1234</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript::;">
                        <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>
                            <p>nora@example.com</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript::;">
                        <i class="menu-icon fa fa-file-code-o bg-green"></i>
                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>
                            <p>Execution time 5 seconds</p>
                        </div>
                    </a>
                </li>
            </ul><!-- /.control-sidebar-menu -->
            <h3 class="control-sidebar-heading">Tasks Progress</h3>
            <ul class="control-sidebar-menu">
                <li>
                    <a href="javascript::;">
                        <h4 class="control-sidebar-subheading">
                            Custom Template Design
                            <span class="label label-danger pull-right">70%</span>
                        </h4>
                        <div class="progress progress-xxs">
                            <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript::;">
                        <h4 class="control-sidebar-subheading">
                            Update Resume
                            <span class="label label-success pull-right">95%</span>
                        </h4>
                        <div class="progress progress-xxs">
                            <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript::;">
                        <h4 class="control-sidebar-subheading">
                            Laravel Integration
                            <span class="label label-warning pull-right">50%</span>
                        </h4>
                        <div class="progress progress-xxs">
                            <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript::;">
                        <h4 class="control-sidebar-subheading">
                            Back End Framework
                            <span class="label label-primary pull-right">68%</span>
                        </h4>
                        <div class="progress progress-xxs">
                            <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                        </div>
                    </a>
                </li>
            </ul><!-- /.control-sidebar-menu -->
        </div><!-- /.tab-pane -->
        <!-- Stats tab content -->
        <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div><!-- /.tab-pane -->
        <!-- Settings tab content -->
        <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
                <h3 class="control-sidebar-heading">General Settings</h3>
                <div class="form-group">
                    <label class="control-sidebar-subheading">
                        Report panel usage
                        <input type="checkbox" class="pull-right" checked>
                    </label>
                    <p>
                        Some information about this general settings option
                    </p>
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label class="control-sidebar-subheading">
                        Allow mail redirect
                        <input type="checkbox" class="pull-right" checked>
                    </label>
                    <p>
                        Other sets of options are available
                    </p>
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label class="control-sidebar-subheading">
                        Expose author name in posts
                        <input type="checkbox" class="pull-right" checked>
                    </label>
                    <p>
                        Allow the user to show his name in blog posts
                    </p>
                </div><!-- /.form-group -->
                <h3 class="control-sidebar-heading">Chat Settings</h3>
                <div class="form-group">
                    <label class="control-sidebar-subheading">
                        Show me as online
                        <input type="checkbox" class="pull-right" checked>
                    </label>
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label class="control-sidebar-subheading">
                        Turn off notifications
                        <input type="checkbox" class="pull-right">
                    </label>
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label class="control-sidebar-subheading">
                        Delete chat history
                        <a href="javascript::;" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                    </label>
                </div><!-- /.form-group -->
            </form>
        </div><!-- /.tab-pane -->
    </div>
</aside><!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
     immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>
</div><!-- ./wrapper -->
