
    <div class="" ng-controller="companyController">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="margin-left:0px">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Company Details
                <small>Control panel</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Company Details</li>
            </ol>
        </section>


        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" name="signup1" role="form" novalidate>
                        <div class="box box-primary">

                        </div>

                        <div class="col-md-6">
                            <div class="box box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title text-center">Contact Details</h3>
                                </div>

                                <div class="box-body col-sm-12">
                                    <div class="form-group">
                                       
                                        <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="inputEmail3" ng-model="username" name="cName" placeholder="Company Name" ng-pattern="/^[a-zA-Z\s]*$/" required>
                                        </div>
                                      
                                        <label for="inputEmail3" class="col-sm-2 control-label">Address</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="inputEmail3" ng-model="address" name="Address" placeholder="" required>
                                        </div>

                                        <!-- Error Defination -->
                                        <div class="error-container col-sm-4" style="margin-bottom: 5px; margin-left:90px;" ng-show="signup1.cName.$dirty && signup1.cName.$invalid">
                                            <small class="error" ng-show="signup1.cName.$error.required">
                                                <b>please enter text</b>
                                            </small>
                                            <small class="error" ng-show="signup1.cName.$error.pattern">
                                                <b>please enter text Only</b>
                                            </small>
                                        </div>
                                        <!-- Error Defination End -->


                                        <!-- Error Defination -->
                                        <div class="error-container" style="margin-bottom: 5px; margin-left:360px;" ng-show="signup1.Address.$dirty && signup1.Address.$invalid">
                                            <small class="error" ng-show="signup1.Address.$error.required">
                                                <b>please enter Address</b>
                                            </small>

                                        </div>
                                        <!-- Error Defination End -->

                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-2 control-label">Country</label>
                                        <div class="col-sm-4">
                                            <select id="Select1" class="form-control" ng-model="country">
                                                <option value="">Select Country</option>
                                                <option value="{{city.Country_ID}}" ng-repeat="city in getCity |unique:'CountryName'">{{city.CountryName}}</option>

                                            </select>
                                        </div>
                                        <label for="inputPassword3" class="col-sm-2 control-label">State</label>
                                        <div class="col-sm-4">
                                            <select id="Select1" class="form-control" ng-model="state">
                                                <option value="">Select State</option>
                                                <option value="{{city.State_ID}}" ng-repeat="city in getCity |filter:{Country_ID:country} |unique:'StateName'">{{city.StateName}}</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-2 control-label">City</label>
                                        <div class="col-sm-4">
                                            <!--<input type="text" class="form-control" id="inputPassword3" ng-model="city" placeholder="">-->
                                            <select id="Select1" class="form-control" ng-model="city">
                                                <option value="">Select City</option>
                                                <option value="{{city.City_ID}}" ng-repeat="city in getCity |filter:{State_ID:state} |unique:'City'">{{city.City}}</option>

                                            </select>
                                        </div>

                                        <label for="inputPassword3" class="col-sm-2 control-label">Contact No</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="inputPassword3" ng-model="contact" name="cNumber" ng-pattern="/^[0-9\s]*$/" maxlength="12" minlength="10" placeholder="Contact No" required>
                                        </div>
                                        <!-- Error Defination -->
                                        <div class="error-container" style="margin-bottom: 5px; margin-left: 360px;" ng-show="signup1.cNumber.$dirty && signup1.cNumber.$invalid">
                                            <small class="error" ng-show="signup1.cNumber.$error.required">
                                                <b>please enter Contact Number</b>
                                            </small>
                                            <small class="error" ng-show="signup1.cNumber.$error.pattern">
                                                <b>please enter Number Only</b>
                                            </small>
                                            <small class="error" ng-show="signup1.cNumber.$error.minlength">
                                                <b>please enter Min 10 Number </b>
                                            </small>
                                        </div>
                                        <!-- Error Defination End -->


                                    </div>
                                    <div class="form-group">

                                        <label for="inputPassword3" class="col-sm-2 control-label">Email id</label>
                                        <div class="col-sm-4">
                                            <input type="email" class="form-control" id="inputPassword3" ng-model="email" ng-pattern="/^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[A-Za-z]{2,15})$/" name="Email" placeholder="" required>
                                        </div>

                                        <label for="inputPassword3" class="col-sm-2 control-label">Pin Code</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="inputPassword3" ng-model="pin" name="Pin" ng-pattern="/^[0-9\s]*$/" minlength="6" maxlength="6" placeholder="Pin Code" required>
                                        </div>

                                        <!-- Error Defination -->
                                        <div class="error-container col-sm-4" style="margin-bottom: 5px; margin-left:90px;" ng-show="signup1.Email.$dirty && signup1.Email.$invalid" >
                                            <small class="error" ng-show="signup1.Email.$error.required">
                                                <b>please enter Email Id</b>
                                            </small>
                                            <small class="error" ng-show="signup1.Email.$error.pattern">
                                                <b>please enter Valid Email ID</b>
                                            </small>
                                            <small class="error" ng-show="signup1.Email.$error.email">
                                                <b></b>
                                            </small>
                                        </div>
                                        <!-- Error Defination End -->
                                        
                                        <!-- Error Defination -->
                                        <div class="error-container" style="margin-bottom: 5px; margin-left: 360px;" ng-show="signup1.Pin.$dirty && signup1.Pin.$invalid">
                                            <small class="error" ng-show="signup1.Pin.$error.required">
                                                <b>please enter PinCode</b>
                                            </small>
                                            <small class="error" ng-show="signup1.Pin.$error.pattern">
                                                <b>please enter Numeric Value Only</b>
                                            </small>
                                            <small class="error" ng-show="signup1.Pin.$error.minlength">
                                                <b>please enter 6 digits</b>
                                            </small>
                                        </div>
                                        <!-- Error Defination End -->

                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-2 control-label">Telephone No</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="inputPassword3" ng-model="tel" name="Tel" ng-pattern="/^[0-9\s]*$/" maxlength="12" minlength="10" placeholder="Telephone No" required>
                                        </div>
                                       
                                        <label for="inputPassword3" class="col-sm-2 control-label">Website</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="inputPassword3" ng-model="website" name="Website" placeholder="Web Site" required>
                                        </div>

                                        <!-- Error Defination -->
                                        <div class="error-container col-sm-4" style="margin-bottom: 5px; margin-left:0px;" ng-show="signup1.Tel.$dirty && signup1.Tel.$invalid">
                                            <small class="error" ng-show="signup1.Tel.$error.required">
                                                <b>please enter Telephone No</b>
                                            </small>
                                            <small class="error" ng-show="signup1.Tel.$error.pattern">
                                                <b>please enter Numeric Value Only</b>
                                            </small>
                                            <small class="error" ng-show="signup1.Tel.$error.minlength">
                                                <b>please enter Min 10 Number </b>
                                            </small>
                                        </div>
                                        <!-- Error Defination End -->

                                        <!-- Error Defination -->
                                        <div class="error-container" style="margin-bottom: 5px; margin-left:360px;" ng-show="signup1.Website.$dirty && signup1.Website.$invalid">
                                            <small class="error" ng-show="signup1.Website.$error.required">
                                                <b>please enter website</b>
                                            </small>

                                        </div>
                                        <!-- Error Defination End -->
                                    </div>


                                </div><!-- /.box-body -->
                                <div class="box-body">


                                </div>



                            </div>
                        </div><!-- /. box -->

                        <div class="col-md-6">
                            <div class="box box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title text-center">Legal Information</h3>
                                </div>

                                <div class="box-body col-sm-12">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">VAT No</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="inputEmail3" ng-model="vat" name="VAT" placeholder="VAT No" required>
                                        </div>
                                       

                                        <label for="inputEmail3" class="col-sm-2 control-label">TIN No</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="inputEmail3" ng-model="tin" name="TIN" placeholder="TIN No" required>
                                        </div>
                                        <!-- Error Defination -->
                                        <div class="error-container col-sm-4" style="margin-bottom: 5px; margin-left:100px;" ng-show="signup1.VAT.$dirty && signup1.VAT.$invalid">
                                            <small class="error" ng-show="signup1.VAT.$error.required">
                                                <b>please enter VAT No</b>
                                            </small>

                                        </div>
                                        <!-- Error Defination End -->
                                        <!-- Error Defination -->
                                        <div class="error-container" style="margin-bottom: 5px; margin-left:420px;" ng-show="signup1.TIN.$dirty && signup1.TIN.$invalid">
                                            <small class="error" ng-show="signup1.TIN.$error.required">
                                                <b>please enter TIN No</b>
                                            </small>

                                        </div>
                                        <!-- Error Defination End -->

                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-2 control-label">LBT No</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="inputPassword3" ng-model="lbt" name="LBT" placeholder="LBT No" required>
                                        </div>
                                       
                                        <label for="inputPassword3" class="col-sm-2 control-label">ST No</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="inputPassword3" ng-model="st" name="ST" placeholder="ST No" required>
                                        </div>

                                        <!-- Error Defination -->
                                        <div class="error-container col-sm-4" style="margin-bottom: 5px; margin-left:100px;" ng-show="signup1.LBT.$dirty && signup1.LBT.$invalid">
                                            <small class="error" ng-show="signup1.LBT.$error.required">
                                                <b>please enter LBT No</b>
                                            </small>

                                        </div>
                                        <!-- Error Defination End -->

                                        <!-- Error Defination -->
                                        <div class="error-container" style="margin-bottom: 5px; margin-left:420px;" ng-show="signup1.ST.$dirty && signup1.ST.$invalid">
                                            <small class="error" ng-show="signup1.ST.$error.required">
                                                <b>please enter ST No</b>
                                            </small>

                                        </div>
                                        <!-- Error Defination End -->
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-2 control-label">PAN No</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="inputPassword3" ng-model="pan" name="PAN" placeholder="PAN No" required>
                                        </div>
                                       
                                        <label for="inputPassword3" class="col-sm-2 control-label">TAN No</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="inputPassword3" ng-model="tan" name="TAN" placeholder="TAN No" required>
                                        </div>

                                        <!-- Error Defination -->
                                        <div class="error-container col-sm-4" style="margin-bottom: 5px; margin-left:100px;" ng-show="signup1.PAN.$dirty && signup1.PAN.$invalid">
                                            <small class="error" ng-show="signup1.PAN.$error.required">
                                                <b>please enter PAN No</b>
                                            </small>

                                        </div>
                                        <!-- Error Defination End -->

                                        <!-- Error Defination -->
                                        <div class="error-container" style="margin-bottom: 5px; margin-left:420px;" ng-show="signup1.TAN.$dirty && signup1.TAN.$invalid">
                                            <small class="error" ng-show="signup1.TAN.$error.required">
                                                <b>please enter TAN No</b>
                                            </small>

                                        </div>
                                        <!-- Error Defination End -->
                                    </div>
                                    <div class="form-group">

                                        <label for="inputPassword3" class="col-sm-2 control-label">License No</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="inputPassword3" ng-model="license" name="License" placeholder="License No" required>
                                        </div>
                                       
                                        <label for="inputPassword3" class="col-sm-2 control-label">CIN No</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="inputPassword3" ng-model="cin" name="CIN" placeholder="CIN No" required>
                                        </div>
                                        <!-- Error Defination -->
                                        <div class="error-container col-sm-4" style="margin-bottom: 5px; margin-left:0px;" ng-show="signup1.License.$dirty && signup1.License.$invalid">
                                            <small class="error" ng-show="signup1.License.$error.required">
                                                <b>please enter License No</b>
                                            </small>

                                        </div>
                                        <!-- Error Defination End -->
                                        <!-- Error Defination -->
                                        <div class="error-container" style="margin-bottom: 5px; margin-left:410px;" ng-show="signup1.CIN.$dirty && signup1.CIN.$invalid">
                                            <small class="error" ng-show="signup1.CIN.$error.required">
                                                <b>please enter CIN No</b>
                                            </small>
                                        </div>
                                        <!-- Error Defination End -->
                                    </div>


                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-2 control-label">Other</label>
                                        <div class="col-sm-4"> 
                                            <input type="text" class="form-control" id="inputPassword3" ng-model="other" value="" name="other" placeholder="Other" ng-pattern="/^[a-zA-Z\s]*$/" required>
                                        </div>
                                        
                                    </div>
                                    <!-- Error Defination -->
                                    <div class="error-container" style="margin-bottom: 5px; margin-left:100px;" ng-show="signup1.other.$dirty && signup1.other.$invalid">
                                        <small class="error" ng-show="signup1.other.$error.required">
                                            <b>please enter</b>
                                        </small>
                                    </div>
                                    <!-- Error Defination End -->


                                </div><!-- /.box-body -->
                                <div class="box-body">


                                </div>


                            </div>
                        </div>
                   
                    <div class="col-md-12">
                        <div class="box box-solid">
                            <div class="box-header with-border bg-aqua">
                                <h3 class="box-title text-center">Business Details</h3>
                            </div>
                       
                                <div class="box-body col-sm-12">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-4 control-label">Service</label>
                                        <div class="col-sm-6">
                                            <textarea type="text" class="form-control" id="inputEmail3" name="service" ng-model="service" placeholder="" required></textarea>
                                        </div>
                                    </div>
                                    <!-- Error Defination -->
                                    <div class="error-container" style="margin-bottom: 5px; margin-left:600px;" ng-show="signup1.service.$dirty && signup1.service.$invalid">
                                        <small class="error" ng-show="signup1.service.$error.required">
                                            <b>please enter</b>
                                        </small>
                                    </div>
                                    <!-- Error Defination End -->

                                    <div class="col-md-9 col-md-offset-2 col-sm-8 col-sm-offset-2" style="border:2px solid red">
                                        <div class="form-group ">
                                            <label for="inputPassword3" class="col-sm-2 control-label">Financial Year From</label>
                                            <div class="col-sm-3">
                                                <input type="date" class="form-control" id="inputPassword3" ng-model="financial" placeholder="">
                                            </div>

                                            <label for="inputPassword3" class="col-sm-3 control-label">Book Beginning From</label>
                                            <div class="col-sm-3">
                                                <input type="date" class="form-control" id="inputPassword3" ng-model="booking" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword3" class="col-sm-3 control-label">Currency Symbol</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" id="inputPassword3" ng-model="symbol" name="Symbol" placeholder="Currency Symbol" required>
                                            </div>
                                           
                                            <label for="inputPassword3" class="col-sm-2 control-label">Currency Char</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" id="inputPassword3" ng-model="char" name="Char" placeholder="Currency Char" required>
                                            </div>

                                        </div>
                                        <!-- Error Defination -->
                                        <div class="error-container col-sm-4" style="margin-bottom: 5px; margin-left:180px;" ng-show="signup1.Symbol.$dirty && signup1.Symbol.$invalid">
                                            <small class="error" ng-show="signup1.Symbol.$error.required">
                                                <b>please enter Currency Symbol</b>
                                            </small>

                                        </div>
                                        <!-- Error Defination End -->

                                        <!-- Error Defination -->
                                        <div class="error-container" style="margin-bottom: 5px; margin-left:520px;" ng-show="signup1.Char.$dirty && signup1.Char.$invalid">
                                            <small class="error" ng-show="signup1.Char.$error.required">
                                                <b>please enter Currency Char</b>
                                            </small>

                                        </div>
                                        <!-- Error Defination End -->
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" ng-model="checkTerm" checked="checked">I Agree Terms & Condition
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.box-body -->

                                <div class="box-footer">
                                    <button type="submit" ng-click="save()" class="btn btn-success col-sm-8"  ng-show="savebtn">Save</button>
                                    <button type="submit" ng-click="updateSave()" class="btn btn-warning col-sm-8" ng-show="upbtn">Update</button>
                                    <a ng-click="cancelAndNew()" class="btn btn-danger pull-right">Cancel</a>
                                </div><!-- /.box-footer -->
                            
                    
                    </form>

                        </div>
                    </div>

              
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
        </div>
   
