
<div class=" " ng-controller="settingsItemController">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="margin-left:0px">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Settings Item
                <small>Control panel</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Services</li>
            </ol>
        </section>

        <!-- 00000000000000000000     main body start   00000000000000000000 -->
        <!-- Main content -->
        <section class="content">
            <div class="box box-primary">

            </div>
            <div class="row">

                <!--panel 1-->
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Show Fields</h3>

                            </div>
                            <form class="form-horizontal" name="signup1" role="form">
                                <div class="box-body">



                                    <div class="form-group" style="display:none">
                                        <label for="inputEmail3" class="col-sm-4 control-label">ID:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="ID" id="inputEmail3" placeholder="">
                                        </div>
                                    </div>


                                        <div class="form-group">
                                            <label for="inputPassword3" class="col-sm-4 control-label">Size:</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" ng-model="unit">
                                                    <option value="">No</option>
                                                    <option>Yes</option>
                                                </select>
                                            </div>
                                        </div>

                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-4 control-label">Colour:</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" ng-model="unit">
                                                <option value="">No</option>
                                                <option>Yes</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-4 control-label">Brand:</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" ng-model="unit">
                                                <option value="">No</option>
                                                <option>Yes</option>
                                            </select>
                                        </div>
                                    </div>


                                    </div><!-- /.box-body -->
                            </form>
                        </div>
                    </div><!-- /. box -->
                </div><!-- /.col -->

                <!--panel 2-->
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Mandatory Fields</h3>

                            </div>
                            <form class="form-horizontal" name="signup1" role="form">
                                <div class="box-body">



                                    <div class="form-group" style="display:none">
                                        <label for="inputEmail3" class="col-sm-4 control-label">ID:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="ID" id="inputEmail3" placeholder="">
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-4 control-label">Size:</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" ng-model="unit">
                                                <option value="">No</option>
                                                <option>Yes</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-4 control-label">Colour:</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" ng-model="unit">
                                                <option value="">No</option>
                                                <option>Yes</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-4 control-label">Brand:</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" ng-model="unit">
                                                <option value="">No</option>
                                                <option>Yes</option>
                                            </select>
                                        </div>
                                    </div>


                                </div><!-- /.box-body -->
                            </form>
                        </div>
                    </div><!-- /. box -->
                </div><!-- /.col -->
           </div>

        <div>
            <!--panel 3-->
            <div class="col-xs-12 col-sm-8 col-sm-8 col-sm-offset-2 col-md-offset-2" >
                <div class="box box-primary">
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title"></h3>

                        </div>
                        <form class="form-horizontal" name="signup1" role="form">
                            <div class="box-body">

                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-4 control-label">Modify all stocks on grid edit:</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" ng-model="unit">
                                            <option value="">No</option>
                                            <option>Yes</option>
                                        </select>
                                    </div>
                                </div>


                            </div><!-- /.box-body -->
                            <div class="box-footer">
                                <a ng-click="save()" class=" btn btn-success col-sm-8">Save</a>
                                <a ng-click="cancelAndNew()" class="btn btn-primary pull-right">Default Settings</a>
                            </div><!-- /.box-footer -->
                        </form>
                    </div>
                </div><!-- /. box -->
            </div><!-- /.col -->
        </div>
        </div>
        </section><!-- /.content -->
        <!-- *********************************************************** -->
    </div><!-- /.content-wrapper -->
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
            <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- Home tab content -->
            <div class="tab-pane" id="control-sidebar-home-tab">
                <h3 class="control-sidebar-heading">Recent Activity</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript::;">
                            <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                                <p>Will be 23 on April 24th</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript::;">
                            <i class="menu-icon fa fa-user bg-yellow"></i>
                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>
                                <p>New phone +1(800)555-1234</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript::;">
                            <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>
                                <p>nora@example.com</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript::;">
                            <i class="menu-icon fa fa-file-code-o bg-green"></i>
                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>
                                <p>Execution time 5 seconds</p>
                            </div>
                        </a>
                    </li>
                </ul><!-- /.control-sidebar-menu -->
                <h3 class="control-sidebar-heading">Tasks Progress</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript::;">
                            <h4 class="control-sidebar-subheading">
                                Custom Template Design
                                <span class="label label-danger pull-right">70%</span>
                            </h4>
                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript::;">
                            <h4 class="control-sidebar-subheading">
                                Update Resume
                                <span class="label label-success pull-right">95%</span>
                            </h4>
                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript::;">
                            <h4 class="control-sidebar-subheading">
                                Laravel Integration
                                <span class="label label-warning pull-right">50%</span>
                            </h4>
                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript::;">
                            <h4 class="control-sidebar-subheading">
                                Back End Framework
                                <span class="label label-primary pull-right">68%</span>
                            </h4>
                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                            </div>
                        </a>
                    </li>
                </ul><!-- /.control-sidebar-menu -->
            </div><!-- /.tab-pane -->
            <!-- Stats tab content -->
            <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div><!-- /.tab-pane -->
            <!-- Settings tab content -->
            <div class="tab-pane" id="control-sidebar-settings-tab">
                <form method="post">
                    <h3 class="control-sidebar-heading">General Settings</h3>
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Report panel usage
                            <input type="checkbox" class="pull-right" checked>
                        </label>
                        <p>
                            Some information about this general settings option
                        </p>
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Allow mail redirect
                            <input type="checkbox" class="pull-right" checked>
                        </label>
                        <p>
                            Other sets of options are available
                        </p>
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Expose author name in posts
                            <input type="checkbox" class="pull-right" checked>
                        </label>
                        <p>
                            Allow the user to show his name in blog posts
                        </p>
                    </div><!-- /.form-group -->
                    <h3 class="control-sidebar-heading">Chat Settings</h3>
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Show me as online
                            <input type="checkbox" class="pull-right" checked>
                        </label>
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Turn off notifications
                            <input type="checkbox" class="pull-right">
                        </label>
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Delete chat history
                            <a href="javascript::;" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                        </label>
                    </div><!-- /.form-group -->
                </form>
            </div><!-- /.tab-pane -->
        </div>
    </aside><!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div><!-- ./wrapper -->
